In [24]:
pip install fredapi

Requirement already satisfied: fredapi in c:\users\alvar\appdata\local\programs\python\python310\lib\site-packages (0.5.2)
Requirement already satisfied: pandas in c:\users\alvar\appdata\local\programs\python\python310\lib\site-packages (from fredapi) (2.0.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\alvar\appdata\local\programs\python\python310\lib\site-packages (from pandas->fredapi) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\alvar\appdata\local\programs\python\python310\lib\site-packages (from pandas->fredapi) (1.25.0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\alvar\appdata\local\programs\python\python310\lib\site-packages (from pandas->fredapi) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alvar\appdata\roaming\python\python310\site-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alvar\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.2 is available.
You should consider upgrading via the 'c:\Users\alvar\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

#### Libraries Needed To Conduct The Analysis

In [25]:
import pandas as pd
from fredapi import Fred
import datetime

##### This is the API Key retrieve from the FRED Site (https://fred.stlouisfed.org/) and here are their documentations (https://fred.stlouisfed.org/docs/api/fred/)

In [38]:
# Initialize Fred with your API key
fred = Fred(api_key='54e585ba99f7bc222a7edc798a59b1db')

##### In my  optinion, this is the most difficult part. I recommend you go to the site and collect some of the series Code.

In [27]:
# List of FRED series codes for each state's unemployment rate
state_codes = {
    'Alabama': 'ALUR',
    'Alaska': 'AKUR',
    'Arizona': 'AZUR',
    'Arkansas': 'ARUR',
    'California': 'CAUR',
    'Colorado': 'COUR',
    'Connecticut': 'CTUR',
    'Delaware': 'DEUR',
    'Florida': 'FLUR',
    'Georgia': 'GAUR',
    'Hawaii': 'HIUR',
    'Idaho': 'IDUR',
    'Illinois': 'ILUR',
    'Indiana': 'INUR',
    'Iowa': 'IAUR',
    'Kansas': 'KSUR',
    'Kentucky': 'KYUR',
    'Louisiana': 'LAUR',
    'Maine': 'MEUR',
    'Maryland': 'MDUR',
    'Massachusetts': 'MAUR',
    'Michigan': 'MIUR',
    'Minnesota': 'MNUR',
    'Mississippi': 'MSUR',
    'Missouri': 'MOUR',
    'Montana': 'MTUR',
    'Nebraska': 'NEUR',
    'Nevada': 'NVUR',
    'New Hampshire': 'NHUR',
    'New Jersey': 'NJUR',
    'New Mexico': 'NMUR',
    'New York': 'NYUR',
    'North Carolina': 'NCUR',
    'North Dakota': 'NDUR',
    'Ohio': 'OHUR',
    'Oklahoma': 'OKUR',
    'Oregon': 'ORUR',
    'Pennsylvania': 'PAUR',
    'Rhode Island': 'RIUR',
    'South Carolina': 'SCUR',
    'South Dakota': 'SDUR',
    'Tennessee': 'TNUR',
    'Texas': 'TXUR',
    'Utah': 'UTUR',
    'Vermont': 'VTUR',
    'Virginia': 'VAUR',
    'Washington': 'WAUR',
    'West Virginia': 'WVUR',
    'Wisconsin': 'WIUR',
    'Wyoming': 'WYUR'
}

In [28]:
start_date = datetime.datetime(1990, 1, 1)
end_date = datetime.datetime.now()
unemployment_data = pd.DataFrame()

In [29]:
# Loop through each state's FRED series code and collect the unemployment data
for state, code in state_codes.items():
    print(f"Getting Data for: {state}")
    state_data = fred.get_series(code, start_date, end_date)
    state_data = state_data.to_frame(name=state)  
    unemployment_data = pd.concat([unemployment_data, state_data], axis=1)

Getting Data for: Alabama
Getting Data for: Alaska
Getting Data for: Arizona
Getting Data for: Arkansas
Getting Data for: California
Getting Data for: Colorado
Getting Data for: Connecticut
Getting Data for: Delaware
Getting Data for: Florida
Getting Data for: Georgia
Getting Data for: Hawaii
Getting Data for: Idaho
Getting Data for: Illinois
Getting Data for: Indiana
Getting Data for: Iowa
Getting Data for: Kansas
Getting Data for: Kentucky
Getting Data for: Louisiana
Getting Data for: Maine
Getting Data for: Maryland
Getting Data for: Massachusetts
Getting Data for: Michigan
Getting Data for: Minnesota
Getting Data for: Mississippi
Getting Data for: Missouri
Getting Data for: Montana
Getting Data for: Nebraska
Getting Data for: Nevada
Getting Data for: New Hampshire
Getting Data for: New Jersey
Getting Data for: New Mexico
Getting Data for: New York
Getting Data for: North Carolina
Getting Data for: North Dakota
Getting Data for: Ohio
Getting Data for: Oklahoma
Getting Data for: Oregon
Getting Data for: Pennsylvania
Getting Data for: Rhode Island
Getting Data for: South Carolina
Getting Data for: South Dakota
Getting Data for: Tennessee
Getting Data for: Texas
Getting Data for: Utah
Getting Data for: Vermont
Getting Data for: Virginia
Getting Data for: Washington
Getting Data for: West Virginia
Getting Data for: Wisconsin
Getting Data for: Wyoming

In [30]:
unemployment_data.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1990-01-01,6.7,7.2,5.0,6.7,5.2,5.2,4.3,3.5,5.8,5.2,...,3.7,5.0,6.3,4.5,4.0,3.9,5.4,8.1,4.2,5.5
1990-02-01,6.7,7.2,5.2,6.7,5.2,5.2,4.4,3.5,5.8,5.1,...,3.7,5.0,6.3,4.5,4.1,3.9,5.3,8.0,4.1,5.3
1990-03-01,6.7,7.2,5.3,6.7,5.2,5.1,4.5,3.5,5.9,5.1,...,3.7,5.0,6.3,4.4,4.2,3.9,5.2,8.0,4.1,5.2
1990-04-01,6.7,7.2,5.4,6.7,5.3,5.1,4.6,3.5,5.9,5.1,...,3.6,5.1,6.2,4.4,4.3,4.0,5.1,8.0,4.1,5.1
1990-05-01,6.7,7.2,5.4,6.7,5.4,5.1,4.7,3.5,6.0,5.2,...,3.6,5.1,6.3,4.3,4.5,4.1,5.1,8.1,4.1,5.0

In [31]:
unemployment_data.tail()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
2024-04-01,3.1,4.6,3.6,3.4,5.3,3.7,4.4,3.9,3.3,3.1,...,2.0,3.1,4.0,2.8,2.1,2.8,4.8,4.3,2.9,2.8
2024-05-01,3.0,4.5,3.4,3.4,5.2,3.8,4.3,3.9,3.3,3.2,...,2.0,3.0,4.0,2.9,2.1,2.7,4.9,4.2,2.9,2.9
2024-06-01,2.9,4.5,3.3,3.3,5.2,3.8,3.9,4.0,3.3,3.3,...,2.0,3.0,4.0,3.0,2.1,2.7,4.8,4.1,2.9,2.9
2024-07-01,2.8,4.5,3.4,3.3,5.2,3.9,3.6,4.1,3.3,3.4,...,2.0,3.0,4.1,3.2,2.1,2.7,4.9,4.2,3.0,2.9
2024-08-01,2.8,4.6,3.4,3.3,5.3,4.0,3.4,4.2,3.3,3.6,...,2.0,3.1,4.1,3.3,2.2,2.8,4.8,4.2,2.9,3.0

In [32]:
unemployment_data.to_csv('unemployment_data_by_state.csv')

Bachelor's Degree or Higher (Annual)

In [33]:
bachelor_codes = {
    'Alabama': 'GCT1502AL',
    'Alaska': 'GCT1502AK',
    'Arizona': 'GCT1502AZ',
    'Arkansas': 'GCT1502AR',
    'California': 'GCT1502CA',
    'Colorado': 'GCT1502CO',
    'Connecticut': 'GCT1502CT',
    'Delaware': 'GCT1502DE',
    'Florida': 'GCT1502FL',
    'Georgia': 'GCT1502GA',
    'Hawaii': 'GCT1502HI',
    'Idaho': 'GCT1502ID',
    'Illinois': 'GCT1502IL',
    'Indiana': 'GCT1502IN',
    'Iowa': 'GCT1502IA',
    'Kansas': 'GCT1502KS',
    'Kentucky': 'GCT1502KY',
    'Louisiana': 'GCT1502LA',
    'Maine': 'GCT1502ME',
    'Maryland': 'GCT1502MD',
    'Massachusetts': 'GCT1502MA',
    'Michigan': 'GCT1502MI',
    'Minnesota': 'GCT1502MN',
    'Mississippi': 'GCT1502MS',
    'Missouri': 'GCT1502MO',
    'Montana': 'GCT1502MT',
    'Nebraska': 'GCT1502NE',
    'Nevada': 'GCT1502NV',
    'New Hampshire': 'GCT1502NH',
    'New Jersey': 'GCT1502NJ',
    'New Mexico': 'GCT1502NM',
    'New York': 'GCT1502NY',
    'North Carolina': 'GCT1502NC',
    'North Dakota': 'GCT1502ND',
    'Ohio': 'GCT1502OH',
    'Oklahoma': 'GCT1502OK',
    'Oregon': 'GCT1502OR',
    'Pennsylvania': 'GCT1502PA',
    'Rhode Island': 'GCT1502RI',
    'South Carolina': 'GCT1502SC',
    'South Dakota': 'GCT1502SD',
    'Tennessee': 'GCT1502TN',
    'Texas': 'GCT1502TX',
    'Utah': 'GCT1502UT',
    'Vermont': 'GCT1502VT',
    'Virginia': 'GCT1502VA',
    'Washington': 'GCT1502WA',
    'West Virginia': 'GCT1502WV',
    'Wisconsin': 'GCT1502WI',
    'Wyoming': 'GCT1502WY'
}

In [34]:

bachelor_data = pd.DataFrame()
for state, code in bachelor_codes.items():
    print(f"Getting BA data for: {state}")
    state_data = fred.get_series(code)
    state_data = state_data.to_frame(name=state)
    bachelor_data = pd.concat([bachelor_data, state_data], axis=1)

Getting BA data for: Alabama
Getting BA data for: Alaska
Getting BA data for: Arizona
Getting BA data for: Arkansas
Getting BA data for: California
Getting BA data for: Colorado
Getting BA data for: Connecticut
Getting BA data for: Delaware
Getting BA data for: Florida
Getting BA data for: Georgia
Getting BA data for: Hawaii
Getting BA data for: Idaho
Getting BA data for: Illinois
Getting BA data for: Indiana
Getting BA data for: Iowa
Getting BA data for: Kansas
Getting BA data for: Kentucky
Getting BA data for: Louisiana
Getting BA data for: Maine
Getting BA data for: Maryland
Getting BA data for: Massachusetts
Getting BA data for: Michigan
Getting BA data for: Minnesota
Getting BA data for: Mississippi
Getting BA data for: Missouri
Getting BA data for: Montana
Getting BA data for: Nebraska
Getting BA data for: Nevada
Getting BA data for: New Hampshire
Getting BA data for: New Jersey
Getting BA data for: New Mexico
Getting BA data for: New York
Getting BA data for: North Carolina
Getting BA data for: North Dakota
Getting BA data for: Ohio
Getting BA data for: Oklahoma
Getting BA data for: Oregon
Getting BA data for: Pennsylvania
Getting BA data for: Rhode Island
Getting BA data for: South Carolina
Getting BA data for: South Dakota
Getting BA data for: Tennessee
Getting BA data for: Texas
Getting BA data for: Utah
Getting BA data for: Vermont
Getting BA data for: Virginia
Getting BA data for: Washington
Getting BA data for: West Virginia
Getting BA data for: Wisconsin
Getting BA data for: Wyoming

In [35]:
bachelor_data.to_csv('bachelors_degree_by_state.csv')

Resident Population (Annual)

In [39]:
pop_codes = {
    'Alabama': 'ALPOP',
    'Alaska': 'AKPOP',
    'Arizona': 'AZPOP',
    'Arkansas': 'ARPOP',
    'California': 'CAPOP',
    'Colorado': 'COPOP',
    'Connecticut': 'CTPOP',
    'Delaware': 'DEPOP',
    'Florida': 'FLPOP',
    'Georgia': 'GAPOP',
    'Hawaii': 'HIPOP',
    'Idaho': 'IDPOP',
    'Illinois': 'ILPOP',
    'Indiana': 'INPOP',
    'Iowa': 'IAPOP',
    'Kansas': 'KSPOP',
    'Kentucky': 'KYPOP',
    'Louisiana': 'LAPOP',
    'Maine': 'MEPOP',
    'Maryland': 'MDPOP',
    'Massachusetts': 'MAPOP',
    'Michigan': 'MIPOP',
    'Minnesota': 'MNPOP',
    'Mississippi': 'MSPOP',
    'Missouri': 'MOPOP',
    'Montana': 'MTPOP',
    'Nebraska': 'NEPOP',
    'Nevada': 'NVPOP',
    'New Hampshire': 'NHPOP',
    'New Jersey': 'NJPOP',
    'New Mexico': 'NMPOP',
    'New York': 'NYPOP',
    'North Carolina': 'NCPOP',
    'North Dakota': 'NDPOP',
    'Ohio': 'OHPOP',
    'Oklahoma': 'OKPOP',
    'Oregon': 'ORPOP',
    'Pennsylvania': 'PAPOP',
    'Rhode Island': 'RIPOP',
    'South Carolina': 'SCPOP',
    'South Dakota': 'SDPOP',
    'Tennessee': 'TNPOP',
    'Texas': 'TXPOP',
    'Utah': 'UTPOP',
    'Vermont': 'VTPOP',
    'Virginia': 'VAPOP',
    'Washington': 'WAPOP',
    'West Virginia': 'WVPOP',
    'Wisconsin': 'WIPOP',
    'Wyoming': 'WYPOP'
}

In [40]:
population_data = pd.DataFrame()

for state, code in pop_codes.items():
    print(f"Getting Population data for: {state}")
    state_data = fred.get_series(code)
    state_data = state_data.to_frame(name=state)
    population_data = pd.concat([population_data, state_data], axis=1)

population_data.to_csv('population_by_state.csv')

Getting Population data for: Alabama
Getting Population data for: Alaska
Getting Population data for: Arizona
Getting Population data for: Arkansas
Getting Population data for: California
Getting Population data for: Colorado
Getting Population data for: Connecticut
Getting Population data for: Delaware
Getting Population data for: Florida
Getting Population data for: Georgia
Getting Population data for: Hawaii
Getting Population data for: Idaho
Getting Population data for: Illinois
Getting Population data for: Indiana
Getting Population data for: Iowa
Getting Population data for: Kansas
Getting Population data for: Kentucky
Getting Population data for: Louisiana
Getting Population data for: Maine
Getting Population data for: Maryland
Getting Population data for: Massachusetts
Getting Population data for: Michigan
Getting Population data for: Minnesota
Getting Population data for: Mississippi
Getting Population data for: Missouri
Getting Population data for: Montana
Getting Population data for: Nebraska
Getting Population data for: Nevada
Getting Population data for: New Hampshire
Getting Population data for: New Jersey
Getting Population data for: New Mexico
Getting Population data for: New York
Getting Population data for: North Carolina
Getting Population data for: North Dakota
Getting Population data for: Ohio
Getting Population data for: Oklahoma
Getting Population data for: Oregon
Getting Population data for: Pennsylvania
Getting Population data for: Rhode Island
Getting Population data for: South Carolina
Getting Population data for: South Dakota
Getting Population data for: Tennessee
Getting Population data for: Texas
Getting Population data for: Utah
Getting Population data for: Vermont
Getting Population data for: Virginia
Getting Population data for: Washington
Getting Population data for: West Virginia
Getting Population data for: Wisconsin
Getting Population data for: Wyoming

State Minimum Wage Rate (Annual)

In [41]:
min_wage_codes = {
    'Alabama': 'STTMINWGAL',
    'Alaska': 'STTMINWGAK',
    'Arizona': 'STTMINWGAZ',
    'Arkansas': 'STTMINWGAR',
    'California': 'STTMINWGCA',
    'Colorado': 'STTMINWGCO',
    'Connecticut': 'STTMINWGCT',
    'Delaware': 'STTMINWGDE',
    'Florida': 'STTMINWGFL',
    'Georgia': 'STTMINWGGA',
    'Hawaii': 'STTMINWGHI',
    'Idaho': 'STTMINWGID',
    'Illinois': 'STTMINWGIL',
    'Indiana': 'STTMINWGIN',
    'Iowa': 'STTMINWGIA',
    'Kansas': 'STTMINWGKS',
    'Kentucky': 'STTMINWGKY',
    'Louisiana': 'STTMINWGLA',
    'Maine': 'STTMINWGME',
    'Maryland': 'STTMINWGMD',
    'Massachusetts': 'STTMINWGMA',
    'Michigan': 'STTMINWGMI',
    'Minnesota': 'STTMINWGMN',
    'Mississippi': 'STTMINWGMS',
    'Missouri': 'STTMINWGMO',
    'Montana': 'STTMINWGMT',
    'Nebraska': 'STTMINWGNE',
    'Nevada': 'STTMINWGNV',
    'New Hampshire': 'STTMINWGNH',
    'New Jersey': 'STTMINWGNJ',
    'New Mexico': 'STTMINWGNM',
    'New York': 'STTMINWGNY',
    'North Carolina': 'STTMINWGNC',
    'North Dakota': 'STTMINWGND',
    'Ohio': 'STTMINWGOH',
    'Oklahoma': 'STTMINWGOK',
    'Oregon': 'STTMINWGOR',
    'Pennsylvania': 'STTMINWGPA',
    'Rhode Island': 'STTMINWGRI',
    'South Carolina': 'STTMINWGSC',
    'South Dakota': 'STTMINWGSD',
    'Tennessee': 'STTMINWGTN',
    'Texas': 'STTMINWGTX',
    'Utah': 'STTMINWGUT',
    'Vermont': 'STTMINWGVT',
    'Virginia': 'STTMINWGVA',
    'Washington': 'STTMINWGWA',
    'West Virginia': 'STTMINWGWV',
    'Wisconsin': 'STTMINWGWI',
    'Wyoming': 'STTMINWGWY'
}

In [47]:
min_wage_data = pd.DataFrame()

for state, code in min_wage_codes.items():
    try:
        print(f"Fetching Minimum Wage data for: {state}")
        state_data = fred.get_series(code)
        state_data = state_data.to_frame(name=state)  # Convert to DataFrame and rename the column
        min_wage_data = pd.concat([min_wage_data, state_data], axis=1)
    except ValueError as e:
        print(f"Skipping {state}: {e}")

min_wage_data.to_csv('minimum_wage_by_state.csv')

Fetching Minimum Wage data for: Alabama
Skipping Alabama: Bad Request.  The series does not exist.
Fetching Minimum Wage data for: Alaska
Fetching Minimum Wage data for: Arizona
Fetching Minimum Wage data for: Arkansas
Fetching Minimum Wage data for: California
Fetching Minimum Wage data for: Colorado
Fetching Minimum Wage data for: Connecticut
Fetching Minimum Wage data for: Delaware
Fetching Minimum Wage data for: Florida
Fetching Minimum Wage data for: Georgia
Fetching Minimum Wage data for: Hawaii
Fetching Minimum Wage data for: Idaho
Fetching Minimum Wage data for: Illinois
Fetching Minimum Wage data for: Indiana
Fetching Minimum Wage data for: Iowa
Fetching Minimum Wage data for: Kansas
Fetching Minimum Wage data for: Kentucky
Fetching Minimum Wage data for: Louisiana
Skipping Louisiana: Bad Request.  The series does not exist.
Fetching Minimum Wage data for: Maine
Fetching Minimum Wage data for: Maryland
Fetching Minimum Wage data for: Massachusetts
Fetching Minimum Wage data for: Michigan
Fetching Minimum Wage data for: Minnesota
Fetching Minimum Wage data for: Mississippi
Skipping Mississippi: Bad Request.  The series does not exist.
Fetching Minimum Wage data for: Missouri
Fetching Minimum Wage data for: Montana
Fetching Minimum Wage data for: Nebraska
Fetching Minimum Wage data for: Nevada
Fetching Minimum Wage data for: New Hampshire
Fetching Minimum Wage data for: New Jersey
Fetching Minimum Wage data for: New Mexico
Fetching Minimum Wage data for: New York
Fetching Minimum Wage data for: North Carolina
Fetching Minimum Wage data for: North Dakota
Fetching Minimum Wage data for: Ohio
Fetching Minimum Wage data for: Oklahoma
Fetching Minimum Wage data for: Oregon
Fetching Minimum Wage data for: Pennsylvania
Fetching Minimum Wage data for: Rhode Island
Fetching Minimum Wage data for: South Carolina
Skipping South Carolina: Bad Request.  The series does not exist.
Fetching Minimum Wage data for: South Dakota
Fetching Minimum Wage data for: Tennessee
Skipping Tennessee: Bad Request.  The series does not exist.
Fetching Minimum Wage data for: Texas
Fetching Minimum Wage data for: Utah
Fetching Minimum Wage data for: Vermont
Fetching Minimum Wage data for: Virginia
Fetching Minimum Wage data for: Washington
Fetching Minimum Wage data for: West Virginia
Fetching Minimum Wage data for: Wisconsin
Fetching Minimum Wage data for: Wyoming
Data fetching completed.

Median Household Income (Annual)

In [43]:
income_codes = {
    'Alabama': 'MEHOINUSAL',
    'Alaska': 'MEHOINUSAK',
    'Arizona': 'MEHOINUSAZ',
    'Arkansas': 'MEHOINUSAR',
    'California': 'MEHOINUSCAA646N',
    'Colorado': 'MEHOINUSCOA646N',
    'Connecticut': 'MEHOINUSCTA646N',
    'Delaware': 'MEHOINUSDEA646N',
    'Florida': 'MEHOINUSFLA646N',
    'Georgia': 'MEHOINUSGAA646N',
    'Hawaii': 'MEHOINUSHIA646N',
    'Idaho': 'MEHOINUSIDA646N',
    'Illinois': 'MEHOINUSILA646N',
    'Indiana': 'MEHOINUSINA646N',
    'Iowa': 'MEHOINUSIAA646N',
    'Kansas': 'MEHOINUSKSA646N',
    'Kentucky': 'MEHOINUSKYA646N',
    'Louisiana': 'MEHOINUSLAA646N',
    'Maine': 'MEHOINUSMEA646N',
    'Maryland': 'MEHOINUSMDA646N',
    'Massachusetts': 'MEHOINUSMAA646N',
    'Michigan': 'MEHOINUSMIA646N',
    'Minnesota': 'MEHOINUSMNA646N',
    'Mississippi': 'MEHOINUSMSA646N',
    'Missouri': 'MEHOINUSMOA646N',
    'Montana': 'MEHOINUSMTA646N',
    'Nebraska': 'MEHOINUSNEA646N',
    'Nevada': 'MEHOINUSNVA646N',
    'New Hampshire': 'MEHOINUSNHA646N',
    'New Jersey': 'MEHOINUSNJA646N',
    'New Mexico': 'MEHOINUSNMA646N',
    'New York': 'MEHOINUSNYA646N',
    'North Carolina': 'MEHOINUSNCA646N',
    'North Dakota': 'MEHOINUSNDA646N',
    'Ohio': 'MEHOINUSOHA646N',
    'Oklahoma': 'MEHOINUSOKA646N',
    'Oregon': 'MEHOINUSORA646N',
    'Pennsylvania': 'MEHOINUSPAA646N',
    'Rhode Island': 'MEHOINUSRIA646N',
    'South Carolina': 'MEHOINUSSCA646N',
    'South Dakota': 'MEHOINUSSDA646N',
    'Tennessee': 'MEHOINUSTNA646N',
    'Texas': 'MEHOINUSTXA646N',
    'Utah': 'MEHOINUSUTA646N',
    'Vermont': 'MEHOINUSVTA646N',
    'Virginia': 'MEHOINUSVAA646N',
    'Washington': 'MEHOINUSWAA646N',
    'West Virginia': 'MEHOINUSWVA646N',
    'Wisconsin': 'MEHOINUSWIA646N',
    'Wyoming': 'MEHOINUSWYA646N'
}

In [48]:
income_data = pd.DataFrame()

for state, code in income_codes.items():
    try:
        print(f"Getting Median Household Income data for: {state}.")
        state_data = fred.get_series(code)
        state_data = state_data.to_frame(name=state)
        income_data = pd.concat([income_data, state_data], axis=1)
    except ValueError as e:
        print(f"Skipping {state}: {e}")

income_data.to_csv('household_income_by_state.csv')

Getting Median Household Income data for: Alabama.
Skipping Alabama: Bad Request.  The series does not exist.
Getting Median Household Income data for: Alaska.
Skipping Alaska: Bad Request.  The series does not exist.
Getting Median Household Income data for: Arizona.
Skipping Arizona: Bad Request.  The series does not exist.
Getting Median Household Income data for: Arkansas.
Skipping Arkansas: Bad Request.  The series does not exist.
Getting Median Household Income data for: California.
Getting Median Household Income data for: Colorado.
Getting Median Household Income data for: Connecticut.
Getting Median Household Income data for: Delaware.
Getting Median Household Income data for: Florida.
Getting Median Household Income data for: Georgia.
Getting Median Household Income data for: Hawaii.
Getting Median Household Income data for: Idaho.
Getting Median Household Income data for: Illinois.
Getting Median Household Income data for: Indiana.
Getting Median Household Income data for: Iowa.
Getting Median Household Income data for: Kansas.
Getting Median Household Income data for: Kentucky.
Getting Median Household Income data for: Louisiana.
Getting Median Household Income data for: Maine.
Getting Median Household Income data for: Maryland.
Getting Median Household Income data for: Massachusetts.
Getting Median Household Income data for: Michigan.
Getting Median Household Income data for: Minnesota.
Getting Median Household Income data for: Mississippi.
Getting Median Household Income data for: Missouri.
Getting Median Household Income data for: Montana.
Getting Median Household Income data for: Nebraska.
Getting Median Household Income data for: Nevada.
Getting Median Household Income data for: New Hampshire.
Getting Median Household Income data for: New Jersey.
Getting Median Household Income data for: New Mexico.
Getting Median Household Income data for: New York.
Getting Median Household Income data for: North Carolina.
Getting Median Household Income data for: North Dakota.
Getting Median Household Income data for: Ohio.
Getting Median Household Income data for: Oklahoma.
Getting Median Household Income data for: Oregon.
Getting Median Household Income data for: Pennsylvania.
Getting Median Household Income data for: Rhode Island.
Getting Median Household Income data for: South Carolina.
Getting Median Household Income data for: South Dakota.
Getting Median Household Income data for: Tennessee.
Getting Median Household Income data for: Texas.
Getting Median Household Income data for: Utah.
Getting Median Household Income data for: Vermont.
Getting Median Household Income data for: Virginia.
Getting Median Household Income data for: Washington.
Getting Median Household Income data for: West Virginia.
Getting Median Household Income data for: Wisconsin.
Getting Median Household Income data for: Wyoming.

Labor Force Participation Rate (Monthly)

In [49]:
labor_force_codes = {
    'Alabama': 'LBSNSA01',
    'Alaska': 'LBSNSA02',
    'Arizona': 'LBSNSA03',
    'Arkansas': 'LBSNSA04',
    'California': 'LBSNSA06',
    'Colorado': 'LBSNSA08',
    'Connecticut': 'LBSNSA09',
    'Delaware': 'LBSNSA10',
    'Florida': 'LBSNSA12',
    'Georgia': 'LBSNSA13',
    'Hawaii': 'LBSNSA15',
    'Idaho': 'LBSNSA16',
    'Illinois': 'LBSNSA17',
    'Indiana': 'LBSNSA18',
    'Iowa': 'LBSNSA19',
    'Kansas': 'LBSNSA20',
    'Kentucky': 'LBSNSA21',
    'Louisiana': 'LBSNSA22',
    'Maine': 'LBSNSA23',
    'Maryland': 'LBSNSA24',
    'Massachusetts': 'LBSNSA25',
    'Michigan': 'LBSNSA26',
    'Minnesota': 'LBSNSA27',
    'Mississippi': 'LBSNSA28',
    'Missouri': 'LBSNSA29',
    'Montana': 'LBSNSA30',
    'Nebraska': 'LBSNSA31',
    'Nevada': 'LBSNSA32',
    'New Hampshire': 'LBSNSA33',
    'New Jersey': 'LBSNSA34',
    'New Mexico': 'LBSNSA35',
    'New York': 'LBSNSA36',
    'North Carolina': 'LBSNSA37',
    'North Dakota': 'LBSNSA38',
    'Ohio': 'LBSNSA39',
    'Oklahoma': 'LBSNSA40',
    'Oregon': 'LBSNSA41',
    'Pennsylvania': 'LBSNSA42',
    'Rhode Island': 'LBSNSA44',
    'South Carolina': 'LBSNSA45',
    'South Dakota': 'LBSNSA46',
    'Tennessee': 'LBSNSA47',
    'Texas': 'LBSNSA48',
    'Utah': 'LBSNSA49',
    'Vermont': 'LBSNSA50',
    'Virginia': 'LBSNSA51',
    'Washington': 'LBSNSA53',
    'West Virginia': 'LBSNSA54',
    'Wisconsin': 'LBSNSA55',
    'Wyoming': 'LBSNSA56'
}

In [50]:
labor_force_data = pd.DataFrame()

start_date = datetime.datetime(1990, 1, 1)
end_date = datetime.datetime.now()

for state, code in labor_force_codes.items():
    try:
        print(f"Getting Labor Force Participation data for: {state}.")
        state_data = fred.get_series(code, start_date, end_date)
        state_data = state_data.to_frame(name=state)
        labor_force_data = pd.concat([labor_force_data, state_data], axis=1)
    except ValueError as e:
        print(f"Skipping {state}: {e}")

labor_force_data.to_csv('labor_force_participation_by_state.csv')

Getting Labor Force Participation data for: Alabama.
Getting Labor Force Participation data for: Alaska.
Getting Labor Force Participation data for: Arizona.
Skipping Arizona: Bad Request.  The series does not exist.
Getting Labor Force Participation data for: Arkansas.
Getting Labor Force Participation data for: California.
Getting Labor Force Participation data for: Colorado.
Getting Labor Force Participation data for: Connecticut.
Getting Labor Force Participation data for: Delaware.
Getting Labor Force Participation data for: Florida.
Getting Labor Force Participation data for: Georgia.
Getting Labor Force Participation data for: Hawaii.
Getting Labor Force Participation data for: Idaho.
Getting Labor Force Participation data for: Illinois.
Getting Labor Force Participation data for: Indiana.
Getting Labor Force Participation data for: Iowa.
Getting Labor Force Participation data for: Kansas.
Getting Labor Force Participation data for: Kentucky.
Getting Labor Force Participation data for: Louisiana.
Getting Labor Force Participation data for: Maine.
Getting Labor Force Participation data for: Maryland.
Getting Labor Force Participation data for: Massachusetts.
Getting Labor Force Participation data for: Michigan.
Getting Labor Force Participation data for: Minnesota.
Getting Labor Force Participation data for: Mississippi.
Getting Labor Force Participation data for: Missouri.
Getting Labor Force Participation data for: Montana.
Getting Labor Force Participation data for: Nebraska.
Getting Labor Force Participation data for: Nevada.
Getting Labor Force Participation data for: New Hampshire.
Getting Labor Force Participation data for: New Jersey.
Getting Labor Force Participation data for: New Mexico.
Getting Labor Force Participation data for: New York.
Getting Labor Force Participation data for: North Carolina.
Getting Labor Force Participation data for: North Dakota.
Getting Labor Force Participation data for: Ohio.
Getting Labor Force Participation data for: Oklahoma.
Getting Labor Force Participation data for: Oregon.
Getting Labor Force Participation data for: Pennsylvania.
Getting Labor Force Participation data for: Rhode Island.
Getting Labor Force Participation data for: South Carolina.
Getting Labor Force Participation data for: South Dakota.
Getting Labor Force Participation data for: Tennessee.
Getting Labor Force Participation data for: Texas.
Getting Labor Force Participation data for: Utah.
Getting Labor Force Participation data for: Vermont.
Getting Labor Force Participation data for: Virginia.
Getting Labor Force Participation data for: Washington.
Getting Labor Force Participation data for: West Virginia.
Getting Labor Force Participation data for: Wisconsin.
Getting Labor Force Participation data for: Wyoming.